@import '../../styles/variables.scss';

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 20px;
  background: linear-gradient(90deg, rgba(56,138,226,0.8239670868347339) 30%, rgba(176,186,47,0.7175245098039216) 60%);

  &:hover {
    box-shadow: 1px 1px 1px 1px $colorBlack;
    transform: scale(1.01);
  }

  @media screen and (max-width: 700px){
    width: 100%;
  }

  &_drag {
    box-shadow: 0 0 20px $colorBlack;
  }

  input {
    width: 90%;
    border: 2px solid black;
    font-size: 20px;
    padding: 5px;
  }

  s, h2 {
    font-size: 20px;
    padding: 5px;
    max-width: 300px;
    word-wrap: break-word;
  }

  div {
    display: flex;
    gap: 0 15px;

    button {
      border: none;
    }

    svg {
      font-size: 20px;

      &:hover {
        color: $colorPrimary;
      }
    }
  }

}