@import '../../styles/variables.scss';

.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;

  .todoList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;

    &_completed {

    }

    &_dragactive {
      background-color: gray;
    }

    &_dragcomplete {
      background-color: #000;
    }


  }

}
